<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- <context:annotation-config/> -->
    <context:component-scan base-package="anotation"/>

    <bean id="mysqlStoreService" class="com.movies.spider.service.impl.MysqlStoreService">
        <property name="mysqlUtil" ref="mysqlUtil"></property>
        <property name="mysqlDao" ref="mysqlDao"></property>
    </bean>
    <bean id="mysqlDao" class="com.movies.spider.dao.impl.OnShowMovieDao"></bean>
    <bean id="mysqlUtil" class="com.movies.spider.utils.MysqlUtil"></bean>

</beans>